nav {
  display: flex;
  width: max-content;
  background: gray;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
  padding: 10px;
}

.navbar-nav li {
  list-style-type: none;
  color: white;
}
.profile-popup{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}